..proCont {
    width: 100%;
    height: 90%;
    gap: 50px;
    background-color: #F9FAFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.cnt1 {
    width: 80%;
    height: 45%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    margin-top: 20px;

}

.nameP {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textHome {
    width: 90%;
    height: fit-content;
    text-align: left;
}

#exp {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 15px;

}

#expe {
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #828282;
    font-size: 16px;


}

#btn3 {
    width: 140px;
    height: 40px;
    border-radius: 24px;
    border: 1px solid black;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;

}

.imgP {
    width: 50%;
    height: 100%;
    background: url(./images/expense.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 24px 24px 0px
}

#super {
    width: 100%;
    height: 100%;
}


.cnt2 {
    width: 80%;
    height: 45%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-radius: 24px;

}

.nameP2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textHome2 {
    width: 90%;
    height: fit-content;
    text-align: left;
}

.proCont11 {
    width: 100%;
    height: 90%;
    gap: 50px;
    background-color: #F9FAFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.cnt12{
    width: 80%;
    height: 45%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    margin-top: 20px;

}

.nameP1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textHome1 {
    width: 90%;
    height: fit-content;
    text-align: left;
}

#exp1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 15px;

}

#expe1 {
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #828282;
    font-size: 16px;


}

#btn4 {
    width: 140px;
    height: 40px;
    border-radius: 24px;
    border: 1px solid black;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;

}

.imgP {
    width: 50%;
    height: 100%;
    background: url(./images/expense.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 24px 24px 0px
}

#super {
    width: 100%;
    height: 100%;
}


.cnt2 {
    width: 80%;
    height: 45%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-radius: 24px;

}

.nameP2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textHome2 {
    width: 90%;
    height: fit-content;
    text-align: left;
}
